$primary-color: #0f1216;

$primary-color-light: #202124;

$primary-color-extra-light: #2e3036;

$secondary-color: #f73a3a;

$secondary-color-dark: #fa0909;

$text-light: #c7c7c7;

$white: #ffffff;

$max-width: 1600px;
