.aboutus__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .aboutus__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .aboutus__nav span {
    padding: 0 6px;
    font-size: 1.5rem;
    color: $white;
    border: 2px solid $white;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
    
  }
  
  .aboutus__nav span:hover {
    color: $secondary-color;
    border-color: $secondary-color;
  }
  
  .aboutus__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  .aboutus__card {
    padding: 1rem;
    background-color: $primary-color-light;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .aboutus__card:hover {
    background-color: $primary-color-extra-light;
    border-color: $secondary-color;
  }
  
  .aboutus__card span {
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: $white;
    background-color: $secondary-color-dark;
    border-radius: 5px;
  }
  
  .aboutus__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: $white;
  }
  
  .aboutus__card p {
    margin-bottom: 1rem;
    color: $text-light;
  }
  
  .aboutus__card a {
    color: $white;
    transition: 0.3s;
  }
  
  .aboutus__card a:hover {
    color: $secondary-color;
  }