
.footer__container {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
  }
  
  .footer__blur {
    bottom: 0;
    right: 0;
  }
  
  .footer__logo {
    max-width: 150px;
    margin-bottom: 2rem;
  }
  
  .footer__column p {
    margin-bottom: 2rem;
    color: $text-light;
  }

  .footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .footer__socials a {
    padding: 5px 10px;
    font-size: 1.25rem;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    border-radius: 100%;
    transition: 0.3s;
  }
  
  .footer__socials a:hover {
    color: $white;
    background-color: $secondary-color;
  }
  
  .footer__column h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: $white;
  }
  
  .footer__column > a {
    display: block;
    margin-bottom: 1rem;
    color: $text-light;
    transition: 0.3s;
  }
  
  .footer__column > a:hover {
    color: $secondary-color;
  }
  
  .footer__bar {
    max-width: $max-width;
    margin: auto;
    padding: 1rem;
    font-size: 0.8rem;
    color: $white;
  }
  