
.join__image {
    margin-top: 4rem;
    position: relative;
  }
  
  .join__image img {
    border-radius: 10px;
  }
  
  .join__grid {
    position: absolute;
    bottom: -5rem;
    width: calc(100% - 4rem);
    padding: 2rem;
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: $primary-color-light;
    border-radius: 10px;
  }
  
  .join__card {
    flex: 1 1 250px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .join__card span {
    padding: 5px 12px;
    font-size: 1.75rem;
    color: $white;
    background-color: $secondary-color-dark;
    border-radius: 5px;
  }
  
  
  .join__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: $white;
  }
  
  .join__card p {
    color: $text-light;
  }